################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/RotoScope/Debug
.vs/
Debug/
.gitignore
.DS_Store
/RotoScope/Debug/RotoScope.tlog/Cl.items.tlog
/RotoScope/Debug/RotoScope.tlog/link.read.1.tlog
/RotoScope/Debug/RotoScope.tlog/link.command.1.tlog
/RotoScope/Debug/RotoScope.tlog/link.secondary.1.tlog
/RotoScope/Debug/RotoScope.tlog/RotoScope.lastbuildstate
/RotoScope/Debug/RotoScope.exe.recipe
/RotoScope/Debug/RotoScope.tlog/CL.command.1.tlog
/RotoScope/Debug/RotoScope.tlog/CL.read.1.tlog
/RotoScope/Debug/RotoScope.tlog/rc.write.1.tlog
/RotoScope/Debug/RotoScope.tlog/rc.read.1.tlog
/RotoScope/Debug/RotoScope.tlog/rc.command.1.tlog
/RotoScope/Debug/RotoScope.tlog/link.write.1.tlog
/RotoScope/Debug/RotoScope.tlog/CL.write.1.tlog
/RotoScope/Debug/ChildFrm.obj
/RotoScope/Debug/DirSoundSource.obj
/RotoScope/Debug/GrImage.obj
/RotoScope/Debug/LineDlg.obj
/RotoScope/Debug/MainFrm.obj
/RotoScope/Debug/pch.obj
/RotoScope/Debug/RotoScope.ilk
/RotoScope/Debug/RotoScope.log
/RotoScope/Debug/RotoScope.obj
/RotoScope/Debug/RotoScopeDoc.obj
/RotoScope/Debug/RotoScopeView.obj
/RotoScope/Debug/vc143.idb
/RotoScope/Debug/vc143.pdb
/RotoScope/Debug/MovieSource.obj
/RotoScope/Debug/MovieMake.obj
/RotoScope/Debug/RotoScope.pch
/RotoScope/background.png
/RotoScope/CBrushDialog.cpp
/RotoScope/CBrushDialog.h
/RotoScope/CMorph.cpp
/RotoScope/garbagemask.png
/RotoScope/CPaintEffect.h
/RotoScope/CPaintEffect.cpp
/RotoScope/RotoScope.aps
/RotoScope/CMorph.h
/RotoScope/resource.h
/RotoScope/RotoScope.rc
/RotoScope/RotoScope.vcxproj
/RotoScope/RotoScope.vcxproj.filters
/RotoScope/RotoScopeDoc.cpp
/RotoScope/RotoScopeDoc.h
/.DS_Store
/test.asf
/RotoScope/Debug/RotoScope.res
