################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/RotoScope/Debug
.vs/
Debug/
.gitignore
.DS_Store
